table {
    width: 100%;
}

th {
    color: black;
    padding: 5px;
    background-color: #e8e8e8;
}

td {
    padding: 5px;
    background-color: #f9f9f9;
}

.LAImg {
    border-radius: 50%;
}

.modal {
    background: rgba(0, 0, 0, .5);
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.containerNew {
    padding-left: 50px;
    margin: 0;
}

.lastSection {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #fbfbfb;
    padding: 15px;
    display: flex;
    flex-flow: column;
    height: 7%;
}

.lastSectionGrey {
    color: rgb(146, 146, 146);
}

.addPay {
    position: fixed;
    bottom: 30px;
    right: -10px;
}