<p>patient-chart works!</p>

<div class="row">
    <div class="col-lg-4">
        <h4>Patients age</h4>
        <div class="divChart">
            <canvas id="myChart11"></canvas>
        </div>
    </div>
    <div class="col-lg-4">
        <h4>Patients gender</h4>
        <div class="divChart">
            <canvas id="myChart12"></canvas>
        </div>
    </div>
    <div class="col-lg-4">
        <h4>Departments</h4>
        <div class="divChart">
            <canvas id="myChart13"></canvas>
        </div>
    </div>
</div>