<div class="main">
  <div class="leftside vertical-nav">
    <div class="imagediv">
      <img src="http://medic-app.type-code.pro/assets/img/logo.svg" alt="medic-app-logo">
    </div>
    <div class="nav-content">
      <div class="main-title">
        MEDICINE
      </div>
      <div class="sub-title">
        <ul *ngFor="let sT of subTitle" style="list-style-type: none;">
          <a class="firstAnchor" href="#">
            <li><img class="subTitleImg" [src]="sT.logoURL" alt=""> {{sT.logoName}}</li>
          </a>
        </ul>
      </div>
      <div class="main-title">
        APPS
      </div>
      <div class="sub-title">
        <div *ngFor="let sT of subTitle2">{{sT.name}}
          <a href="#">
            <li style="list-style-type: none;" class="subName" *ngFor="let i of sT.subName">{{i.pg}}</li>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="rightside">
    <router-outlet></router-outlet>
  </div>
</div>