.cardDiv {
    display: flex;

}

.cardDiv {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.card {
    padding: 0;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 10px -20px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-text {
    color: rgb(146, 146, 146)
}

.card-img-wrap {
    overflow: hidden;
    position: relative;
}

.imgTeam {

    width: 35px;
    border-radius: 50%;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.lastSection {
    position: fixed;
    bottom: 20px;
    background-color: #fbfbfb;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 5%;
}

.lastSectionGrey {
    color: rgb(146, 146, 146);
}