<p>doctor-comp works!</p>
<div class="container">
    <h3 style="color: rgb(146, 146, 146);">Doctors</h3>

    <div class="cardDiv row">
        <div class="card text-center m-4 col-lg-4 col-md-6 col-sm-12" style="width: 18rem;" *ngFor="let i of data">
            <img class="card-img-top card-img-wrap" [src]="i.img" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <h6 class="card-text">{{i.role}}</h6>
                <div>
                    <a href="#" *ngFor="let j of i.social">
                        <img width="50px" [src]="j.icon" alt="">
                    </a>
                </div>
                <p class="card-text">{{i.address}}</p>
                <a href="#" class="btn btn-primary">View Profile</a>
            </div>
        </div>
    </div>
</div>

<button style="margin: 50px; padding: 10px" type="button" class="btn btn-secondary addDoc" (click)="openPopup()"><img
        src="assets/add_FILL0_wght400_GRAD0_opsz48.png" height="35px" alt="">
</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Doctor</h4>
            </div>
            <form #frm="ngForm">
                <div class="modal-body">
                    <input type="text" class="form-control mb-2" placeholder="Name" name="name" #name="ngModel" ngModel>
                    <input type="text" class="form-control mb-2" placeholder="Speciality" name="role" #role="ngModel"
                        ngModel>
                    <select class="form-control mb-2" name="gen" id="" [(ngModel)]="genSelect">
                        <option *ngFor="let i of gen" [value]="">{{i}}</option>
                    </select>
                    <input type="text" class="form-control mb-2" placeholder="Address" name="address" #address="ngModel"
                        ngModel>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="addDoc(frm)">Add
                        Doctor</button>
                    <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="lastSection">
    <div class="containerNew">
        <span class="lastSectionGrey"> Medicine ></span> Doctors
    </div>
</div>