<p>department-individual works!</p>

<div class="container">
    <h3 style="color: rgb(146, 146, 146);">{{titleDep}} Department</h3>

    <hr>

    <img [src]="depDetails[0].img" alt="">
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam mollitia nisi illum quo praesentium
        eaque
        aut, qui quae cupiditate repellat magnam maxime fugiat odit reprehenderit deleniti non voluptate dignissimos.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit ducimus officiis odio, porro enim quaerat?
        Assumenda voluptas nemo nisi quia molestiae, consectetur perferendis nam est dicta reprehenderit atque ullam
        consequatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. At nesciunt neque facilis dignissimos ab,
        similique ea distinctio mollitia laborum repellendus necessitatibus maiores, hic nostrum quae recusandae magnam
        sunt, delectus nulla molestias libero amet laboriosam. Nihil, veritatis dolorum repudiandae pariatur voluptas
        amet est explicabo fugiat ducimus voluptate molestias. Vero sit optio assumenda doloribus aperiam? Labore
        commodi soluta incidunt nemo quia distinctio at in quibusdam iure minus sed vero vitae nisi consectetur a
        repellat pariatur numquam ex dolorum placeat, ratione iusto reiciendis. Repellendus obcaecati vitae quas cum
        atque ad tenetur, quisquam quaerat consectetur culpa officia delectus aperiam expedita ducimus libero quam
        ipsam.

    </p>
</div>